@model webMotors_backEnd.Models.anuncio


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>anuncio</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.marca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.marca, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.marca, Enumerable.Empty<SelectListItem>(), "", htmlAttributes: new { @class = "form-control" })


                @Html.ValidationMessageFor(model => model.marca, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.modelo, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.modelo, Enumerable.Empty<SelectListItem>(), "", htmlAttributes: new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.modelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.versao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.versao, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.versao, Enumerable.Empty<SelectListItem>(), "", htmlAttributes: new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.versao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ano, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ano, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ano, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.quilometragem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quilometragem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quilometragem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {

            $.ajax({
                type: "GET",
                url: "/Anuncio/getMarca",
                contentType: "application/json; charset=utf-8",
                datatype: 'JSON',
                contentType: "application/json; charset=utf-8",
                success: (data) => {
                    let dt = JSON.parse(data);

                    $("#marca").empty();

                    $.each(dt, (i, row) => {
                        $("#marca").append(`<option key="${row.ID}" value="${row.Name}">${row.Name}</option>`);
                    })
                    $("#marca").trigger("change");
                    
                },
                error: (xhr, status, error) => {
                    $("#dataDiv").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            });
        });

        $("#marca").change(() => {
            $.ajax({
                type: "POST",
                url: "/Anuncio/getModel",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ markId: $("#marca option:selected").attr("key") }),
                datatype: 'JSON',
                contentType: "application/json; charset=utf-8",
                success: (data) => {
                    let dt = JSON.parse(data);

                    $("#modelo").empty();

                    $.each(dt, (i, row) => {
                        $("#modelo").append(`<option key="${row.ID}" value="${row.Name}">${row.Name}</option>`);
                    })
                    $("#modelo").trigger("change");

                },
                error: (xhr, status, error) => {
                    $("#dataDiv").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            });
        })

        $("#modelo").change(() => {
            $.ajax({
                type: "POST",
                url: "/Anuncio/getVersion",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ modelId: $("#modelo option:selected").attr("key") }),
                datatype: 'JSON',
                contentType: "application/json; charset=utf-8",
                success: (data) => {
                    let dt = JSON.parse(data);

                    $("#versao").empty();

                    $.each(dt, (i, row) => {
                        $("#versao").append(`<option key="${row.ID}" value="${row.Name}">${row.Name}</option>`);
                    })

                },
                error: (xhr, status, error) => {
                    $("#dataDiv").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            });
        })

    </script>
}


